<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	{% block Titulo %}
    <title>Digitar</title>
    {% endblock %}
	
	{% load staticfiles %}
	
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    {% block ArquivosEstaticos %}
    
	    
    {% endblock %}

</head>

<body>
	<div id="wrapper">
		{% include "componentes/cabecalho.html" %}
		
		<div id="page-wrapper"  style="padding: 25px;">
		{% block Principal %}

		{% endblock %}
		</div>
	</div>
	   
	{% load staticfiles %}
	<!-- jQuery -->
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    
	<!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

	{% block ArquivosScripts %}
	 
	{% endblock %}
</body>
</html>