<meta charset="utf-8">

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	<div class="modal-dialog">
		<!--  style="width: 90%"> -->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h3 id="myModalLabel">Novo Documento</h3>
			</div>

			<div class="modal-body" style="padding: 30px;">

				<form action="" method="post">
					{% csrf_token %}

					<div class="row" style="padding-left: 15px; padding-right: 15px">
						<div style='padding-left: 8px'>
							<sub>{{ formulario_itens.documento.label }}</sub>
						</div>
						{{ formulario_itens.documento }}
					</div>

					<div class="row" style="padding-left: 15px; padding-right: 15px">
						<div style='padding-left: 8px'>
							<sub>{{ formulario_itens.complemento.label }}</sub>
						</div>
						{{ formulario_itens.complemento }}
					</div>

					<div
						class="row better_col_spacings_first_chield better_col_middle_spacings better_col_spacings_last_chield">

						<div class="col-lg-4">
							<div style='padding-left: 8px'>
								<sub>{{ formulario_itens.referencia.label }}</sub>
							</div>
							{{ formulario_itens.referencia }}
						</div>

						<div class="col-lg-4">
							<div style='padding-left: 8px'>
								<sub>{{ formulario_itens.vencimento.label }}</sub>
							</div>
							{{ formulario_itens.vencimento }}
						</div>

						<div class="col-lg-4">
							<div style='padding-left: 8px'>
								<sub>{{ formulario_itens.valor.label }}</sub>
							</div>

							<div class="input-group">
								<span class="input-group-addon">R$</span> {{ formulario_itens.valor }}
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-lg-3 col-lg-push-9">
							<button type="submit" id="bt_adicionar_item"
								class="btn btn-primary form-control" name='adicionar_item'
								style="position: relative; margin-top: 20px">Adicionar</button>
							<!-- <a href="#myModal" role="button" class="btn btn-primary form-control" data-toggle="modal" '  > Adicionar</a>  -->
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="modal-footer">
			<div class="form-group">
				<!--  <button type="submit" id="bt_formulario" class="btn btn-success pull-right">Enviar</button> -->
				<!--  <p class="help-block pull-left text-danger hide" id="form-error">&nbsp;{{ message }}</p></div>  -->
				<!-- <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button> -->
			</div>
		</div>
	</div>
</div>

<form action="" method="post">

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default" style="margin-top: -15px; margin-left: 0px; margin-right: 0px;">
	
				<div class="panel-heading">
					
					<div class="row" style="height: 30px; line-height: 30px">
						<div class="col-lg-7">
							<b>Informações Gerais</b>
						</div>
					</div>
	
				</div>
				<!-- /.panel-heading -->
	
				<div class="panel-body"	style="padding-bottom: 7px; margin-top: -5px;">
					<div class="row better_col_spacings_first_chield better_col_middle_spacings better_col_spacings_last_chield">
						<div class="col-lg-3">
							<div style='padding-left: 8px'>
								<sub>{{ formulario_protocolo.entidade_destinatario.label }}</sub>
							</div>
							{{ formulario_protocolo.entidade_destinatario }}
						</div>
					
					
					
						<div class="col-lg-2">
							<div style='padding-left: 8px'>
								<sub>{{ formulario_protocolo.data_emissao.label }}</sub>
							</div>
							{{ formulario_protocolo.data_emissao }}
						</div>
					</div>
					
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.row -->
		</div>
	</div>
	
	<br>
	
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default"
				style="margin-top: -15px; margin-left: 0px; margin-right: 0px;">
	
				<div class="panel-heading">
	
					<div class="row" style="height: 30px; line-height: 30px">
						<div class="col-lg-9">
							<b>Documentos</b>
						</div>
						
						<div class="col-lg-3 ">
						
							<div class = "btn-toolbar" role = "toolbar">
								<div class="btn-group pull-right" role="group">								
									<button type="button" id="bt_apagar" class="confirm btn btn-default " style="position: relative; margin-top: -2px;margin-right: -8px;">Apagar</button>
								</div>
							
								<div class="btn-group pull-right" role="group">
									<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" style="position: relative; margin-top: -2px;margin-right: 2px;">Novo Documento</button>
								</div>
								
							</div>
						</div>
					</div>
				</div>
	
				<div class="panel-body" style="padding-bottom: -10px; margin-top: -5px;">
	
					<div class="dataTable_wrapper" style="padding-top: 5px">
						<table class="table table-striped compact nowrap  table-bordered table-hover" id="{{ datatable_nome }}">
	
							<thead>
								<tr class="linha_cabecalho">
									<th align="center" style="vertical-align: middle;">Documentos Entregues</th>
									<th align="center" style="vertical-align: middle;">Referência</th>
									<th align="center" style="vertical-align: middle;">Vencimento</th>
									<th align="center" style="vertical-align: middle;">Valor</th>
								</tr>
							</thead>
	
							<tbody >
								{% for item in dados %}
	
								<tr style="min-height: 10px;" class="alinhado_meio">
									<!-- clickable-row " data-href='#'>  -->	
									<!-- <td><button value='{{ forloop.counter0 }}' class="btn btn-danger btn-sm form-control"><i class="fa fa-trash-o fa-lg"></i></button></td>  -->
	
									{% if item.complemento %}
									<td style="cursor: pointer; height: 10px">{{ item.documento }} - {{ item.complemento }}</td> 
									{% else %}
									<td style="cursor: pointer; height: 10px">{{ item.documento	}}</td> 
									{% endif %}
	
									<td align="center" style="cursor: pointer; height: 10px">{{	item.referencia }}</td>
									<td align="center" style="cursor: pointer; height: 10px">{{ item.vencimento }}</td>
									<td align="center" style="cursor: pointer; height: 10px">R$ {{ item.valor }}</td>
								</tr>
								
								{% empty %}
    								<tr><td colspan="4">Adicione um novo Documento.</td></tr>
								
								{% endfor %}
							</tbody>
						</table>
						<!-- /.table-responsive -->
					</div>
	
					<div class='row'>
						<div class="col-lg-2 col-lg-push-10">
							<button type="submit" id="bt_formulario" name='gerar_protocolo' class="btn btn-primary form-control pull-right"
								style="position: relative; margin-top: 10px">Gerar Protocolo</button>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
</form>


